<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form th:action="@{/login}" method="post">
    	<h2 th:text="#{h2.titleText}"></h2>
        <div>
            <label th:text="#{label.usernameText}" for="username"></label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label th:text="#{label.passwordText}" for="password"></label>
            <input type="password" id="password" name="password"/>
        </div>
        <div>
            <button type="submit" th:text = "#{button.loginsubmitText}" value="Sign In"></button>
        </div>
    </form>
</body>
</html>